*.swo
*.swp
*.pyc
.DS_Store
*.tar
*.png
.ipynb_checkpoints/
.idea/
__pycache__/
*.pdf
*.npz
deepcp/__pycache__/
deepcp.egg-info
data/
.pytest_cache/
.cache/
*.pt
Untitled*ipynb
git_stats
build/
dist/
_build/
_tutorials/
.coverage
*.xml
.history
clip
