*.swo
*.swp
*.pyc
.DS_Store
*.tar
.ipynb_checkpoints/
.idea/
*.pdf
*.npz
deepcp.egg-info
data/
.pytest_cache/
*.pt
Untitled*ipynb
git_stats
.cache/
build/
dist/
_build/
_tutorials/
.coverage
*.xml
.history
docs/buildA
**/__pycache__/
.vscode
.coverage
torch_scae.egg-info
*.so
*.egg-info