torch==2.0.1 --extra-index-url https://download.pytorch.org/whl/cu121
torchvision==0.17.0 --extra-index-url https://download.pytorch.org/whl/cu121
torch-geometric~=2.6.1
transformers~=4.47.0
numpy~=1.26.0
setuptools>=70.0.0
tqdm>=4.66.6
scikit-learn>=1.5.0
pandas>=2.1.4
Pillow>=10.3.0
pytest==8.3.4